/**
 * @author 	Erick Song
 * @date 	2013-06-07
 * @email	ahschl0322@gmail.com
 * @info    grid system -
 * 网站： 	960 = 700 + 240 + 20
 * 首页：	加 1140 = 880 + 240 + 20
 * 客户端： 960 = 700 + 250 + 10
 */

/**
 * 框架中所用到的全局设置(body上)：
 * plt-* 					-> 终端识别
 * grid  					-> 框架本身标识
 * grid-1140 			-> 1140宽度
 * grid-response  -> 相应式设计
 */

/**
 * 针对通栏背景的处理
 * 如首页幻灯：
 * <div class="wp-grid">
 *   <div class="module-metro">
 *  	xxx
 *   </div>
 * </div>
 */
 .wp-grid{ width:100%}


/**
 * 页面外层框架本身用grid表示引用了栅格系统，
 * 用 grid 而不用 grid-960 的目的是因为考虑后续如果网站全站变更为980的时候，只要替换css文件即可
 * 这个文件提供 grid-960 几种简单布局: 如左边700，右边250，中间10
 * 首页：两种尺寸(960、1140 - 分界点 1360)
 * 边距：clt - 上下左右 10px， 广告上下10px -> [130723 产品变更间距由5px -> 10px]
 * 		 web - clt的一倍， 20px 和 10px
 */

.grid{ width:960px; margin:0 auto; zoom:1}
.grid .m,.grid .s,.module{ overflow:hidden; /*border-radius:4px;*/}
.grid .m{ float:left; width:700px}
.grid .s{ float:right; width:250px}

/* 首页改版，适应960、1140尺寸，分界点为 1360 */
.grid-1140 .grid{ width:1140px}
.grid-1140 .grid .m, .grid-1140 .grid .m .sp{ width:880px}
.grid-1140 .grid .s{ width:240px}

/**
 * wp-main - 这一层设计是为了处理页面背景广告而做的，包含整个body内容
 * 主体部分添加白色背景，避免背景广告投放难看
*/
.wp-main{ background: url('http://static9.pplive.cn/pub/flagment/basic/images/sp-960.jpg') 50% 0 repeat-y;}
.grid-1140 .wp-main{background: url('http://static9.pplive.cn/pub/flagment/basic/images/sp-1140.jpg') 50% 0 repeat-y;}


/**
 * 广告模块 - 默认所有的广告模块后加载
 * 需求：要求广告模块的上下边距为5px
 */
.grid .sp{ display: none; margin-top:10px; overflow: hidden;}
/*.m .sp{width:700px;}
.s .sp{ width:250px; }*/

/**
 * 广告兼容 - 自适应尺寸
 * 要求 - 所有广告素材都以大的尺寸来做，主体内容为窄屏宽度，两边填充背景
 * 如：960 - （1140-960）/2 两边填充90px背景融合
 * grid-ad-c1 表示通栏广告
*/

/* 广告兼容 */
.grid-response .grid .grid-ad-c1{ width:960px;}
.grid-1140 .grid .grid-ad-c1{ width: 1140px}
.grid-response .grid-ad-c1{ position: relative; overflow: hidden;}

/* 窄屏 - 960px */
.grid-response .grid .m .sp, /* 左边广告 */
.grid-response .grid .grid-ad-c1 .sp{ margin-left:-90px} /* 通栏广告 */
.grid .m .sp iframe{ margin-left:90px} /* 确保iframe 广告左边显示*/
.grid-1140 .grid .m .sp iframe{ margin-left: 0}

/* 宽屏 - 1140px */
.grid-1140 .grid .m .sp,
.grid-1140 .grid .grid-ad-c1 .sp{ margin-left:0}
