/**
 * @author 	Erick Song
 * @date 	2012-02-15
 * @email	ahschl0322@gmail.com
 * @module  ui-pagelist(分页)
 *
 */

/* demo code
<div class="ui-pagelist ui-skin-blue cf" id="{{id}}">
    <p class="ui-pagelist-btn cf">
        <a href="{{url}}" class="ui-pagelist-btn-prev ui-pagelist-disabled">上一页</a>
        <a href="{{url}}">1</a>
        <a href="{{url}}" class="ui-pagelist-active">2</a>
        <span class="ui-pagelist-btn-pass">…</span>
        <a href="{{url}}">16</a>
        <a href="{{url}}" class="ui-pagelist-btn-next">下一页</a>
    </p>
</div>
*/
.ui-pagelist{ clear:both; margin:15px 0; color:#999; text-align:center; line-height:24px}
.ui-pagelist .ui-pagelist-btn-prev,.ui-pagelist .ui-pagelist-btn-next{ overflow:hidden}
/*.ui-pagelist .ui-pagelist-btn{ position:relative; float:left; left:50%}
.ui-pagelist .ui-pagelist-btn a,.ui-pagelist .ui-pagelist-btn .ui-pagelist-btn-pass{ position:relative; right:50%} */
.ui-pagelist .ui-pagelist-btn-pass{ padding:0; border:0; color:#999; line-height:22px}
.ui-pagelist .ui-pagelist-disabled{ color:#A8A9AB; cursor:default}
.ui-pagelist a,.ui-pagelist-btn-pass{ /*float:left; display:block;*/ display:inline-block; height:20px; margin:0 3px; padding:0 6px; color:#51a0c9; border:1px solid #e5e5e5; line-height:20px; vertical-align:middle; background:#fff; overflow:hidden}
.ui-pagelist a:hover,.ui-pagelist .ui-pagelist-active{ color:#fff; background:#00a0f1}
.ui-pagelist .ui-pagelist-disabled:hover{ background:none; color:#A8A9AB; text-decoration:none}
